
__pycache__/
*.py[cod]


db.sqlite3
*.sqlite3


.env
*.env
config/settings/local.py
config/settings/.env


venv/
env/


*.log
*.pot
*.pid
*.swp
*.swo
*.swn
*.sublime-project
*.sublime-workspace


migrations/**/__pycache__/
migrations/*.pyc
migrations/*.pyo


.idea/


.vscode/

staticfiles/
media/
static/


*.mo
*.pyc
*.pyo


docker-compose.override.yml